
@define-color bg_color rgba(10, 13, 15, 0.9);
@define-color bg_color2 rgba(0, 0, 0, 0.0);
@define-color bg_color_full rgba(0, 0, 0, 0.0);
@define-color logoutbtns rgba(0, 0, 0, 0.2);
@define-color border_color #777;

* {
    box-shadow: none;
}

.center-clock {
    background-color: rgba(0, 0, 0, 0.0);
}

.center-clock-clock {
    font-family: "Arkitech", sans-serif;
    font-weight: bold;
    font-size: 180px;
    color: white;
}

.colorthemechanger {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 8px;
}
.color-item-bc {
    background-color: @bg_color;
    border: 1px solid @border_color;
    border-radius: 8px;
}
.color-item {
    border-radius: 50px;
    border: 1px solid @border_color;
    margin: 5px;
}
.c-gruv { background-color: #181818; }
.c-catppuccin { background-color: #0a0c0f; }
.c-transparent { background-color: #505050; }

.label-focus {
    font-size: 20px;
    color: #8bd5ca;
}

.steam-label {
    color: #AAF0C1;
}

.topbar0, .topbar1, .topbar2 {
    background-color: rgba(0, 0, 0, 0);
}


.topbar-content{
    margin: 6px 8px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);
    background-color: @bg_color;
    border: 1px solid #444;
    border-radius: 8px;
}

.arch-flex {
    background-color: @bg_color_full;
    border-radius: 6px;
    padding: 0px 10px;
    margin-right: 10px;
}

.right-bar {
    background-color: @bg_color_full;
    border-radius: 0 0 0 6px;
    border-top: none;
    border-right: none;
}

.left-bar {
    background-color: @bg_color_full;
    border-radius: 0 0 6px 0;
    border-top: none;
    border-left: none;
}

.middle-bar {
    background-color: @bg_color_full;
    border-radius: 0 0 6px 6px;
    border-top: none;
}

.bar-item {
    /*border: 1px solid #444;*/
    padding: 2px 4px;
    border-radius: 6px;
}

.bar-stat-item {
    margin: 2px 4px;
    padding: 0;
    color: #eee;
}

.bar-stat-date {
    margin-left: 20px;
}
.bar-stat-time {
    margin-right: 20px;
}
.bar-stat-ram {
    min-width: 70px;
    color: #E9D26C;
}
.bar-stat-cpu {
    min-width: 70px;
    color: #89BEB7;
}
.bar-stat-gpu {
    min-width: 70px;
    color: #7EB7E6;
}
.bar-stat-off {
    color: #ed5c66;
    min-width: 30px;
    background-color: @bg_color2;
    border: none;
    outline: none;
}

.bar-label {
    padding: 4px 10px;
    background-color: @bg_color2;
    margin: 4px 10px;
    border: 1px solid #444;
    border-radius: 6px;
    font-size: 14px;
    color: #eee;
}
.wk {
    background-color: @bg_color2;
    padding: 0px;
    margin: 0px 0px;
    border: none;
    color: #eee;
    border-radius: 4px;
} 
.wk-focus {
    margin: 4px 2px;
    border: 1px solid #999;
    border: none;
    border-radius: 4px;
}

.wk:hover {
    color: #ddd;
}


.logout {
    background-color: rgba(0,0,0,0.0);
}

.logout-item {
    font-size: 190px;
    color: #ccc;
    border-radius: 8px;
    padding: 30px 40px 30px 52px;
    margin: 20px;
    background-color: @logoutbtns;
    border: 1px solid #444;
}

.logout-item:hover {
    background-color: @logoutbtns;
    border-radius: 100px;
    transition: 0.4s ease;
}

.logout-logout:hover {
    color: #8ec07b;
}
.logout-poweroff:hover {
    color: #fb4833;
}
.logout-reboot:hover {
    color: #83a597;
}

.logout-text {
    margin-right: 10px;
}
